<footer class="footer text-center text-white">
    <div class="container">
        <!-- Información principal -->
        <div class="footer-info">
            <h4>IKOMI PERU</h4>
            <p>Empresa importadora y comercializadora de repuestos para todo tipo de vehículos con calidad y a precios de mercado.</p>
            
            <!-- Íconos de redes sociales -->
            <div class="footer-social-icons">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com" target="_blank" title="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com" target="_blank" title="Facebook">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.tiktok.com" target="_blank" title="TikTok">
                            <i class="fab fa-tiktok"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Información de contacto -->
        <div class="footer-contact">
            <div class="row">
                <div class="col-md-4">
                    <h5>Dirección</h5>
                    <p>Avenida Nicolás Ayllon 3384</p>
                    <p>Carretera Central - Paradero Rayovac</p>
                    <p>Lima - Ate</p>
                </div>
                <div class="col-md-4">
                    <h5>Correo</h5>
                    <p>ventas&#64;ikomiperu.com</p>
                    <p>ventas&#64;ikomiperu.com</p>
                </div>
                <div class="col-md-4">
                    <h5>Teléfonos</h5>
                    <p>985 068 416</p>
                    <p>981 453 306</p>
                </div>
            </div>
        </div>

        <!-- Enlaces de navegación -->
        <div class="footer-links">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#">
                        <i class="fas fa-home"></i> Inicio
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                        <i class="fas fa-info-circle"></i> Nosotros
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                        <i class="fas fa-concierge-bell"></i> Servicios
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                        <i class="fas fa-box"></i> Producto
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                        <i class="fas fa-users"></i> Equipo
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#">
                        <i class="fas fa-envelope"></i> Contáctenos
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>

