<div class="container mt-5">
  <div class="row">
    <div class="col-4">
      <div class="card text-center">
        <div class="card-header">Equipo</div>
        <img src="nosotros.jpg" class="card-img custom-img" alt="Equipo" />
      </div>
    </div>

    <div class="col-4">
      <div class="card text-center">
        <div class="card-header">Almacén</div>
        <img src="bodega.jpg" class="card-img custom-img" alt="Almacén" />
      </div>
    </div>

    <div class="col-4">
      <div class="card text-center">
        <div class="card-header">Tienda</div>
        <img src="entrada.jpg" class="card-img custom-img" alt="Tienda" />
      </div>
    </div>

    <div class="col-4">
      <div class="card text-center">
        <div class="card-header">Empresa</div>
        <img src="empresa.jpg" class="card-img custom-img" alt="Empresa" />
      </div>
    </div>
  </div>
</div>

